@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
body {
    background: url(../images/bg.png) no-repeat center /cover;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
}
main#typerhero {
    position: relative;
    width: 100%;
    height: 100vh;
}

main#typerhero div {
    height: 2048px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

 main#typerhero div.stars-lg {
    background: url(../images/stars-lg.png) repeat-y 0px -1024px /contain;
    animation: 10s parallax linear infinite;
 }

  main#typerhero div.stars-md {
    background: url(../images/stars-md.png) repeat-y 0px -1024px /contain;
    animation: 20s parallax linear infinite;
 }

  main#typerhero div.stars-sm {
    background: url(../images/stars-sm.png) repeat-y 0px -1024px /contain;
    animation: 30s parallax linear infinite;
 }

 @keyframes parallax {
    0% { background-position: 0px -2048px; }
    100% { background-position: 0px 0px;    }
 }

 main#typerhero div.logo {
     background: url(../images/logo.png) no-repeat center;
     height: 426px;
     top: -80px;
     left: 50%;
     transform: translateX(-50%);
     width: 408px;
 }

 main#typerhero nav.menu {
    margin: 0 auto;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translateX(-50%);
    width: 360px;
 }

 main#typerhero nav.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 1.4rem;
 }

  main#typerhero nav.menu ul li {
    display: flex;
    gap: 12px;
  }

  main#typerhero nav.menu ul li a i {
    height: 60px;
    opacity: 0.6;
    transition: opacity 0.4s ease-out;
    width: 60px;
  }

  main#typerhero nav.menu ul li.opt1 a i {
   background: url(../images/ico-opt1.svg);
  }

  main#typerhero nav.menu ul li.opt2 a i {
   background: url(../images/ico-opt2.svg);
  }

  main#typerhero nav.menu ul li.opt3 a i {
   background: url(../images/ico-opt3.svg);
  }

 main#typerhero nav.menu ul li a:is(:link, :visited) {
    color: #fff;
    background-color: #165873;
    border-radius: 3rem;
    font-weight: medium;
    font-size: 24px;
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.4rem;
    transition: transform 0.2s ease-in;
    width: 360px;
 }

  main#typerhero nav.menu ul li a:is(:hover) {
    transform: scale(1.05);
  }

  main#typerhero nav.menu ul li a:is(:hover) i {
    opacity: 1;
  }