@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
body {
    background: url(../images/bg.png) no-repeat center /cover;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
}
main#typerhero {
    position: relative;
    width: 100%;
    height: 100vh;
}

main#typerhero div {
   height: 2048px;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
}

main#typerhero div.stars-lg {
   background: url(../images/stars-lg.png) repeat-y 0px -1024px /contain;
   animation: 10s parallax linear infinite;
}

main#typerhero div.stars-md {
   background: url(../images/stars-md.png) repeat-y 0px -1024px /contain;
   animation: 20s parallax linear infinite;
}

main#typerhero div.stars-sm {
   background: url(../images/stars-sm.png) repeat-y 0px -1024px /contain;
   animation: 30s parallax linear infinite;
}

@keyframes parallax {
   0% { background-position: 0px -2048px; }
   100% { background-position: 0px 0px;    }
}

main#typerhero div.logo {
   background: url(../images/logo.png) no-repeat center;
   height: 426px;
   top: -80px;
   left: 50%;
   transform: translateX(-50%);
   width: 408px;
}

main#typerhero nav.menu {
   margin: 0 auto;
   position: absolute;
   top: 380px;
   left: 50%;
   transform: translateX(-50%);
   width: 360px;
}

main#typerhero nav.menu ul {
   list-style: none;
   display: flex;
   flex-direction: column;
   padding: 0;
   margin: 0;
   gap: 1.4rem;
}

main#typerhero nav.menu ul li {
   display: flex;
   gap: 12px;
}

main#typerhero nav.menu ul li a i {
   height: 60px;
   opacity: 0.6;
   transition: opacity 0.4s ease-out;
   width: 60px;
}

main#typerhero nav.menu ul li.opt1 a i {
   background: url(../images/ico-opt1.svg);
}

main#typerhero nav.menu ul li.opt2 a i {
   background: url(../images/ico-opt2.svg);
}

main#typerhero nav.menu ul li.opt3 a i {
   background: url(../images/ico-opt3.svg);
}

main#typerhero nav.menu ul li a:is(:link, :visited) {
   color: #fff;
   background-color: #165873;
   border-radius: 3rem;
   font-weight: medium;
   font-size: 24px;
   display: flex;
   gap: 1rem;
   align-items: center;
   text-decoration: none;
   text-transform: uppercase;
   padding: 0.4rem;
   transition: transform 0.2s ease-in;
   width: 360px;
}

main#typerhero nav.menu ul li a:is(:hover) {
   transform: scale(1.05);
}

main#typerhero nav.menu ul li a:is(:hover) i {
   opacity: 1;
}


main#typerhero div.stage02.hide,
main#typerhero div.stage03.hide,
main#typerhero div.stage04.hide,
main#typerhero div.stage20.hide,
main#typerhero div.stage21.hide,
main#typerhero div.stage30.hide,
main#typerhero div.stage31.hide,
main#typerhero div.stage-play.hide {
   display: none;
}

main#typerhero div.logo-top {
   background: url(../images/logo-top.png) no-repeat center;
   height: 257px;
   top: 0px;
   left: 50%;
   transform: translateX(-50%);
   width: 246px;
}

main#typerhero div.title {
   height: 60px;
   top: 280px;
}

main#typerhero div.title-play {
   background: url(../images/title-play.png) no-repeat center;
}
main#typerhero div.title-stats {
   background: url(../images/title-stats.png) no-repeat center;
}
main#typerhero div.title-credits {
   background: url(../images/title-credits.png) no-repeat center;
}
main#typerhero div.title-results {
   background: url(../images/title-results.png) no-repeat center;
}
main#typerhero div.title-progress {
   background: url(../images/title-progress.png) no-repeat center;
}
main#typerhero div.title-about {
   background: url(../images/title-about.png) no-repeat center;
}
main#typerhero div.title-team {
   background: url(../images/title-team.png) no-repeat center;
}

main#typerhero nav.menu ul li.opt10 {
   flex-direction: column;
}

main#typerhero nav.menu ul li input {
   border-radius: 100px;
   border: 2px solid #088F82;
   background: rgba(0, 0, 0, 0.40);
   color: #fff;
   height: 70px;
   text-transform: uppercase;
   text-indent: 1rem;
   font-size: 1.4rem;
   outline: none;
}

main#typerhero nav.menu ul li p {
   color: #fff;
   font-weight: 400;
   text-align: center;
   font-size: 0.9rem;
}

main#typerhero nav.menu ul li.opt11 a:is(:link, :visited) {
   background-color: #088f82;
}

main#typerhero nav.menu ul li.opt11 a i {
   background: url(../images/ico-play.svg);
}

main#typerhero nav.menu ul li.opt20 a i {
   background: url(../images/ico-results.svg);
}

main#typerhero nav.menu ul li.opt21 a i {
   background: url(../images/ico-progress.svg);
}

main#typerhero nav.menu ul li.opt30 a i {
   background: url(../images/ico-about.svg);
}

main#typerhero nav.menu ul li.opt31 a i {
   background: url(../images/ico-team.svg);
}

main#typerhero nav.menu ul li.back-index a i,
main#typerhero nav.menu ul li.back-menu a i,
main#typerhero nav.menu ul li.back-exit a i {
   background: url(../images/ico-back.svg);
}



main#typerhero .stage20 nav.menu,
main#typerhero .stage21 nav.menu,
main#typerhero .stage30 nav.menu,
main#typerhero .stage31 nav.menu,
main#typerhero .stage-play nav.menu {
   top: 780px;
}

main#typerhero section {
   border-radius: 10px;
   height: 380px;
   padding: 10px 20px;
   position: absolute;
   margin: 0 auto;
   left: 50%;
   top: 354px;
   transform: translateX(-50%);
   width: 340px;
}

main#typerhero section h4 {
   text-transform: uppercase;
   margin: 0;
   margin-top: 20px;
}

main#typerhero section p {
   font-weight: 100;
   text-align: justify;
}

main#typerhero section.sec-about  {
   color: #fff;
   background-color: #00000066;
}

main#typerhero section.sec-team  {
   color: #fff;
}

main#typerhero section.sec-team article  {
   border-radius: 10px;
   display: flex;
   margin-bottom: 12px;
   align-items: center;
   height: 80px;
   gap: 0.8rem;
}

main#typerhero section.sec-team article img  {
   margin-left: 10px;
   height: 60px;
   width: 60px;
}

main#typerhero section.sec-team article p strong  {
   font-size: 0.9rem;
   font-weight: 400;
}

main#typerhero section.sec-team article:nth-child(odd)  {
   background-color: #ffffff66;
}

main#typerhero section.sec-team article:nth-child(even)  {
   background-color: #ffffff33;
}

main#typerhero section.sec-results table  {
   background-color: #ffffff33;
   border-collapse: collapse;
   border-radius: 10px;
   color: #fff;
   width: 100%;
}

main#typerhero section.sec-results table th,
main#typerhero section.sec-results table td {
   padding: 12px 10px;
   text-align: center;
}

main#typerhero section.sec-results table thead th:first-of-type {
   border-radius: 10px 0 0 0;
}

main#typerhero section.sec-results table thead th:last-of-type {
   border-radius: 0 10px 0 0;
}

main#typerhero section.sec-results table tbody tr:last-of-type td:first-of-type {
   border-radius: 0 0 0 10px;
}

main#typerhero section.sec-results table tbody tr:last-of-type td:last-of-type {
   border-radius: 0 0 10px 0;
}

main#typerhero section.sec-results table th {
   background-color: #fff;
   color: #000;
}

main#typerhero section.sec-results table tr:nth-child(even) {
   background-color: #ffffff66;
}

main#typerhero section.sec-progress {
   background-color: #00000066;
   border-radius: 10px;
}

main#typerhero section.sec-progress canvas {
   margin-top: 6rem;
}



main#typerhero div div.wrapper  {
   pointer-events: all;
   z-index: 99999;
}

main#typerhero section.sec-play {
   color: #fff;
   background-color: #00000066;
}

main#typerhero section.sec-play article.info {
   display: flex;
   justify-content: space-between;
}

main#typerhero section.sec-play article.info aside {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

main#typerhero section.sec-play article.info aside span {
   font-weight: 100;
}

main#typerhero section.sec-play .bg {
   background: linear-gradient(#04af71, #04af7133);
}


main#typerhero section.sec-play .wordsWrap {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 80px;
}

main#typerhero section.sec-play .words span{
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

main#typerhero section.sec-play div.starship {
   height: 97px;
   width: 60px;
   position: absolute;
   left: 174px;
   top: 300px;
   transition: all 0.1s linear;
   animation: 0.2s animStarShip ease-in infinite;
   z-index: 9;
}
main#typerhero section.sec-play div.starship div.structure {
   background: url(../images/starship-steps.png) no-repeat;
   height: 97px;
   width: 60px;
   animation: animStepsStarShip 0.1s steps(3) infinite;
}
@keyframes animStepsStarShip {
   100% { background-position: -180px; }
}
@keyframes animStarShip {
   0%, 100% {
         top: 300px;
   }
   50% {
         top: 296px;
   }
}